<ng-container *ngIf="chat; else newChat">
  <p>Чат с {{getMemberName()}}</p>
  <div #messagesContainer class="messages-container">
      <div #messageItem
           [attr.data-id]="message.id"
           *ngFor="let message of chat?.messages">
          <app-message
              [message]="message"
              (markAsReadEvent)="handleMarkAsRead($event)">
          </app-message>
      </div>
  </div>
</ng-container>
<ng-template #newChat>
  Новый чат, тут пока что пусто
</ng-template>
<app-send-message (message)="sendMessage($event)"></app-send-message>
