.messages-container {
    padding: 20px;
    border: 1px solid #ddd;
    max-height: 70vh;
    overflow: auto;
    position: relative;
}
.unread-messages-label {
    display: flex;
    justify-content: center;
}
