.single-chat {
    display: block;
    text-decoration: none;
    color: unset;
}





.chat-container {
    width: 350px;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.chat-header {
    padding: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.chat-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-bottom: 1px solid #f0f0f0;
}

.chat-item:hover {
    background-color: #f9f9f9;
}


.chat-info {
    flex: 1;
}

.chat-name {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1rem;
}

.chat-preview {
    font-size: 0.9rem;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.chat-title-group {
    display: flex;
    gap: 10px;
}
.unread-messages-badge {
    background-color: #dc3545;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
