<div class="card" style="width: 18rem;">
    <div class="startup-img-container">
        <img *ngIf="startup?.logoPath" [src]="'http://localhost:3000/uploads/logos/' + startup!.logoPath"
             class="card-img-top startup-card-img">
        <img *ngIf="!startup?.logoPath" src="assets/no-image.jpg" class="card-img-top startup-card-img" alt="...">
    </div>

    <div class="card-body">
        <h5><a [routerLink]="['/startups', startup?.id]" class="card-title startup-card-title">{{ startup?.title }}</a>
        </h5>
        <ng-container *ngIf="currentFundingRound && !showTotalInvestments">
            <strong>Текущий раунд: {{ currentFundingRound.stage }}</strong>
            <p>
                Необходимо на текущем раунде: <strong>{{ getRemainingFunding().toNumber() | currency:'RUB':'symbol':'1.0-0':'ru-RU' }}</strong>
            </p>
        </ng-container>
        <ng-container *ngIf="showTotalInvestments">
            <p>Всего собрано: <strong>{{startup!.investmentsTotal | currency:'RUB':'symbol':'1.0-0':'ru-RU'}}</strong></p>
        </ng-container>

        <p class="card-text">{{ startup?.description!.length > 50 ? startup?.description!.substring(0, 50) + "..." : startup?.description }}</p>
    </div>
</div>
