<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 [routerLink]="['/startups', startup?.id]" class="card-title startup-card-title">{{startup?.title}}</h5>
      <strong>Текущий раунд: {{currentFundingRound?.stage}}</strong>
      <p>
        Необходимо на текущем раунде: <strong>{{getRemainingFunding()}}</strong>
      </p>
      <p class="card-text">{{startup?.description!.length > 50 ? startup?.description!.substring(0, 50) + "..." : startup?.description}}</p>
    </div>
  </div>
