.startup-card-title {
  cursor: pointer;
}
.card-body {
  height: 200px;
}
.card-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card-body a {
  text-decoration: none;
}