.messages-container {
    padding: 20px;
    border: 1px solid #ddd;
    max-height: 70vh;
    overflow: auto;
    position: relative;
}
.unread-messages-label {
    display: flex;
    justify-content: center;
}
.user-chat-logo {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.member-name {
    font-weight: bold;
}
