<h4>Ваши уведомления</h4>
<div class="form-check only-read-checkbox">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [formControl]="onlyUnread">
    <label class="form-check-label" for="flexCheckDefault">
        Только непрочитанные
    </label>
</div>
<div ngbAccordion>
    <div ngbAccordionItem *ngFor="let notification of notifications; trackBy: trackByNotificationId" [id]="notification.id"
         (show)="onNotificationPanelOpen(notification.id)" (hide)="onNotificationPanelHide(notification.id)">
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton class="notification-header">
                <div class="notification-main-info">
                    <div *ngIf="notification.type === NotificationType.INVESTMENT">
                        В ваш стартап совершена новая инвестиция!
                    </div>
                    <div *ngIf="notification.type === NotificationType.MESSAGE">
                        Новое сообщение для вас!
                    </div>
                    <span *ngIf="!notification.read" class="badge badge-secondary unread-notification-badge">Новое</span>
                </div>
                <div class="notification-created-at">
                    {{notification.createdAt | date:"d.LL.y в H:mm" }}
                </div>
            </button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody *ngIf="notification.type === NotificationType.INVESTMENT">
                <app-investment-notification [notification]="notification"></app-investment-notification>
            </div>
            <div ngbAccordionBody *ngIf="notification.type === NotificationType.MESSAGE">
                <app-message-notification [notification]="notification"></app-message-notification>
            </div>
        </div>
    </div>
</div>
<div *ngIf="notifications.length === 0">
    Здесь пока ничего нет
</div>
<mat-paginator *ngIf="notifications.length" class="notifications-paginator" [length]="totalNotificationsNumber"
               [pageIndex]="pageIndex"
               [pageSize]="pageSize"
               [pageSizeOptions]="[5, 8, 10, 25, 100]"
               (page)="handlePageChange($event)"
               aria-label="Select page">
</mat-paginator>
