<div class="form-container">
    <h3 *ngIf="formType === FormType.UPDATE">Редактирование информации о стартапе</h3>
    <form class="register-form" [formGroup]="startupEditFormGroup">
        <ng-container *ngIf="formType === FormType.CREATE">
            <div class="mb-3">
                <label for="registerEmailField" class="form-label">Адрес электронной почты<span class="text-danger">*</span></label>
                <input type="email" formControlName="email" class="form-control" id="registerEmailField"
                       placeholder="name@example.com">
                <div *ngIf="startupEditFormGroup.controls.email.invalid && (startupEditFormGroup.controls.email.dirty || startupEditFormGroup.controls.email.touched)"
                     class="alert">

                    <div *ngIf="startupEditFormGroup.controls.email.errors?.['required']">
                        {{"form-validation-errors.EMAIL_REQUIRED" | translate}}
                    </div>
                    <div *ngIf="startupEditFormGroup.controls.email.errors?.['email']">
                        {{"form-validation-errors.EMAIL_INVALID" | translate}}
                    </div>

                </div>
            </div>

            <div class="mb-3">
                <label for="registerPasswordField" class="form-label">Пароль<span class="text-danger">*</span></label>
                <input class="form-control" formControlName="password" type="password" id="registerPasswordField">
                <div *ngIf="startupEditFormGroup.controls.password.invalid && (startupEditFormGroup.controls.password.dirty || startupEditFormGroup.controls.password.touched)"
                     class="alert">

                    <div *ngIf="startupEditFormGroup.controls.password.errors?.['required']">
                        {{"form-validation-errors.PASSWORD_REQUIRED" | translate}}
                    </div>
                    <div *ngIf="startupEditFormGroup.controls.password.errors?.['minlength']">
                        {{"form-validation-errors.PASSWORD_MINLENGTH" | translate}}
                    </div>

                </div>
            </div>
        </ng-container>

        <div class="mb-3">
            <label for="registerNameField" class="form-label">Название<span class="text-danger">*</span></label>
            <input type="text" formControlName="title" class="form-control" id="registerNameField"
                   placeholder="Мой стартап">
            <div *ngIf="startupEditFormGroup.controls.title.invalid && (startupEditFormGroup.controls.title.dirty || startupEditFormGroup.controls.title.touched)"
                 class="alert">

                <div *ngIf="startupEditFormGroup.controls.title.errors?.['required']">
                    {{"form-validation-errors.TITLE_REQUIRED" | translate}}
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Описание стартапа<span class="text-danger">*</span></label>
            <textarea formControlName="description" class="form-control" id="exampleFormControlTextarea1"
                      rows="3"></textarea>
            <div *ngIf="startupEditFormGroup.controls.description.invalid && (startupEditFormGroup.controls.description.dirty || startupEditFormGroup.controls.description.touched)"
                 class="alert">

                <div *ngIf="startupEditFormGroup.controls.description.errors?.['required']">
                    {{"form-validation-errors.DESCRIPTION_REQUIRED" | translate}}
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Логотип</label>
            <div class="startup-logo-group">
                <input #startupLogoInput (change)="onImageChanged($event)" class="form-control" type="file"
                       id="formFile">
                <mat-icon (click)="removeImage()">close</mat-icon>
            </div>
            <img #startupLogoPreview class="startup-logo-preview" alt="" src="">
        </div>
        <!--    <div class="mb-3">-->
        <!--      <label for="industryTypeField" class="form-label">Сектор</label>-->
        <!--      <select formControlName="industry" class="form-select" id="industryTypeField">-->
        <!--        <option *ngFor="let industry of industryTypes">{{industry}}</option>-->
        <!--      </select>-->
        <!--    </div>-->
        <div class="mb-3">
            <label for="registerNameField" class="form-label">Необходимое финансирование<span class="text-danger">*</span>
                <app-input-help-tooltip tooltipMessage="Общее финансирование, которое предполагается получить в рамках стартапа; это значение может помочь инвесторам понять ваши долгосрочные планы"></app-input-help-tooltip>
            </label>
            <input type="text" formControlName="fundingGoal" class="form-control" id="fundingGoalField"
                   placeholder="50000">
            <div *ngIf="showErrors(startupEditFormGroup.controls.fundingGoal)"
                 class="alert">

                <div *ngIf="startupEditFormGroup.controls.fundingGoal.errors?.['required']">
                    {{"form-validation-errors.FUNDING_GOAL_REQUIRED" | translate}}
                </div>
            </div>
        </div>
        <div *ngIf="formType === FormType.CREATE" class="mb-3">
            <label for="registerNameField" class="form-label">Начальное финансирование<span class="text-danger">*</span>
                <app-input-help-tooltip tooltipMessage="Начальное финансирование, которое вы планируете получить для запуска стартапа. Это значение будет использовано при создании первого раунда финансирования"></app-input-help-tooltip>
            </label>
            <input type="text" formControlName="initialFundingGoal" class="form-control" id="initialFundingGoalField"
                   placeholder="50000">
            <div *ngIf="showErrors(startupEditFormGroup.controls.initialFundingGoal)"
                 class="alert">
                <div *ngIf="startupEditFormGroup.controls.initialFundingGoal.errors?.['required']">
                    {{"form-validation-errors.INITIAL_FUNDING_GOAL_REQUIRED" | translate}}
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="tamField" class="form-label">Объем рынка TAM, млн руб.<span class="text-danger">*</span></label>
            <input type="text" formControlName="tamMarket" class="form-control" id="tamField" placeholder="50000">
            <div *ngIf="showErrors(startupEditFormGroup.controls.tamMarket)"
                 class="alert">
                <div *ngIf="startupEditFormGroup.controls.tamMarket.errors?.['required']">
                    {{"form-validation-errors.TAM_REQUIRED" | translate}}
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="samField" class="form-label">Объем рынка SAM, млн руб.<span class="text-danger">*</span></label>
            <input type="text" formControlName="samMarket" class="form-control" id="samField" placeholder="50000">
            <div *ngIf="showErrors(startupEditFormGroup.controls.samMarket)"
                 class="alert">
                <div *ngIf="startupEditFormGroup.controls.samMarket.errors?.['required']">
                    {{"form-validation-errors.SAM_REQUIRED" | translate}}
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="somField" class="form-label">Объем рынка SOM, млн руб.<span class="text-danger">*</span></label>
            <input type="text" formControlName="somMarket" class="form-control" id="somField" placeholder="50000">
            <div *ngIf="showErrors(startupEditFormGroup.controls.somMarket)"
                 class="alert">
                <div *ngIf="startupEditFormGroup.controls.somMarket.errors?.['required']">
                    {{"form-validation-errors.SOM_REQUIRED" | translate}}
                </div>
            </div>
        </div>
<!--        <div class="mb-3">-->
<!--            <label for="teamExperienceField" class="form-label">Опыт команды</label>-->
<!--            <input type="number" formControlName="teamExperience" class="form-control" id="teamExperienceField"-->
<!--                   placeholder="5">-->
<!--        </div>-->

        <p>Ниже вам необходимо ввести прогнозирумые метрики на срок в 5 лет. Эти данные используются для вычисления
            стоимости стартапа, что облегчит задачу инвесторам. Если у вас нет прогнозируемых оценок, оставьте поля
            пустыми</p>
        <ng-template #ebitExplanation>
            <h3><strong>Прибыль до вычета процентов и налогов (EBIT)</strong></h3>
            <p><em>«Сколько компания зарабатывает до уплаты налогов и процентов по кредитам»</em><br><strong>Простыми словами:</strong><br>Это ваша прибыль от основной деятельности (например, продажи продукта или услуги) без учета налогов и кредитных обязательств.<br><strong>Пример:</strong><br>Если вы заработали 500 тыс. рублей, а потратили 300 тыс. на зарплаты и аренду, ваш EBIT — 200 тыс. рублей.</p>
        </ng-template>
        <ng-template #capexExplanation>
            <h3><strong>Вложения в основные средства компании (CapEx)</strong></h3>
            <p><em>«Сколько вы инвестируете в оборудование, технику или инфраструктуру»</em><br><strong>Простыми словами:</strong><br>Это расходы на покупку или улучшение активов, которые будут служить компании долго (например, компьютеры, офис, производственные линии).<br><strong>Пример:</strong><br>Если вы купили сервер за 1 млн рублей или отремонтировали офис — это CapEx.</p>
        </ng-template>
        <ng-template #cwkExplanation>
            <h3><strong>Изменения в оборотном капитале</strong></h3>
            <p><em>«Насколько изменились ваши текущие активы и обязательства»</em><br><strong>Простыми словами:</strong><br>Разница между деньгами, которые вам должны (например, дебиторская задолженность), и тем, что должны вы (например, неоплаченные счета поставщикам).<br><strong>Пример:</strong><br>Если вы увеличили запасы сырья на 100 тыс. рублей, оборотный капитал уменьшится на эту сумму.</p>
        </ng-template>
        <ng-template #daExplanation>
            <h3><strong>Амортизационные расходы</strong></h3>
            <p><em>«Насколько уменьшается стоимость вашего оборудования/активов со временем»</em><br><strong>Простыми словами:</strong><br>Ежегодное списание части стоимости активов (например, ноутбуков, машин), так как они изнашиваются или устаревают.<br><strong>Пример:</strong><br>Ноутбук за 100 тыс. рублей будет терять 20 тыс. рублей в год, если срок его службы — 5 лет.</p>
        </ng-template>

        <p>Прибыль до вычета процентов и налогов
            <app-input-help-tooltip (click)="openInfoDialog(ebitExplanation)" tooltipMessage=""></app-input-help-tooltip>
        </p>
        <div class="five-years-metrics-container" formArrayName="revenuePerYear">
            <div *ngFor="let control of revenuePerYear.controls; let i = index" class="mb-3">
                <label [for]="'arrayField' + i" class="form-label">{{i + 1}} год</label>
                <input type="number" [formControlName]="i" class="form-control" [id]="'arrayField' + i">
            </div>
        </div>
        <p>Вложения в основные средства компании
            <app-input-help-tooltip (click)="openInfoDialog(capexExplanation)" tooltipMessage=""></app-input-help-tooltip>
        </p>
        <div class="five-years-metrics-container" formArrayName="capitalExpenditures">
            <div *ngFor="let control of capitalExpenditures.controls; let i = index" class="mb-3">
                <label [for]="'arrayField' + i" class="form-label">{{i + 1}} год</label>
                <input type="number" [formControlName]="i" class="form-control" [id]="'arrayField' + i">
            </div>
        </div>
        <p>Изменения в оборотном капитале
            <app-input-help-tooltip (click)="openInfoDialog(cwkExplanation)" tooltipMessage=""></app-input-help-tooltip>
        </p>
        <div class="five-years-metrics-container" formArrayName="changesInWorkingCapital">
            <div *ngFor="let control of changesInWorkingCapital.controls; let i = index" class="mb-3">
                <label [for]="'arrayField' + i" class="form-label">{{i + 1}} год</label>
                <input type="number" [formControlName]="i" class="form-control" [id]="'arrayField' + i">
            </div>
        </div>
        <p>Амортизационные расходы
            <app-input-help-tooltip (click)="openInfoDialog(daExplanation)" tooltipMessage=""></app-input-help-tooltip>
        </p>
        <div class="five-years-metrics-container" formArrayName="deprecationAndAmortization">
            <div *ngFor="let control of deprecationAndAmortization.controls; let i = index" class="mb-3">
                <label [for]="'arrayField' + i" class="form-label">{{i + 1}} год</label>
                <input type="number" [formControlName]="i" class="form-control" [id]="'arrayField' + i">
            </div>
        </div>
        <div class="form-check form-switch auto-approve-group">
            <input formControlName="autoApproveInvestments" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Автоматическое подтверждение инвестиций
                <app-input-help-tooltip tooltipMessage="Если выключить эту опцию, то для принятия инвестиции вам будет нужно подтверждать ее вручную">

                </app-input-help-tooltip>
            </label>
        </div>
        <div class="mb-3 register-submit-button-group">
            <button type="submit" (click)="handleFormSubmission()" class="btn btn-primary mb-3 action-btn">
                {{formType === FormType.UPDATE ? "Обновить информацию" : "Зарегистрироваться"}}
            </button>
        </div>
    </form>
</div>

