.five-years-metrics-container {
    display: flex;
    gap: 10px;
}
.startup-logo-preview {
  margin-top: 20px;
  max-height: 200px;
  width: auto;
}
.startup-logo-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.startup-logo-group mat-icon {
  cursor: pointer;
}
