<h3>{{startup?.title}}</h3>
<h4>Общая цель: {{startup?.fundingGoal}} руб.</h4>
<p style="white-space: pre-line;">{{startup?.description}}</p>
<div>Объем рынка TAM {{startup?.tam}} млн руб.</div>
<div>Объем рынка SAM {{startup?.sam}} млн руб.</div>
<div>Объем рынка SOM {{startup?.som}} млн руб.</div>
<a *ngIf="startup?.presentationPath" [href]="'http://localhost:3000/uploads/' + startup?.presentationPath">Презентация</a>
<h4>Раунды инвестирования:
</h4>
<div *ngFor="let fundingRound of startup?.fundingRounds" class="card funding-round-card" style="width: 18rem;">
    <div class="card-body" [ngClass]="fundingRound.isCurrent ? 'current-round-card' : ''">
      <div class="flex-horizontal-container">
        <h5 class="card-title">{{fundingRound.stage}}</h5>
        <div *ngIf="localStorageService.getUser()?.payload!.role === Roles.INVESTOR && fundingRound.isCurrent" class="mb-3 button-group">
          <a (click)="openInvestmentDialog(fundingRound.id)" class="btn btn-primary mb-3 action-btn"><mat-icon>payment</mat-icon>Инвестировать</a>
        </div>
      </div>

        <p>Цель: {{fundingRound.fundingGoal}} руб.</p>
        <p>Собрано: {{fundingRound.currentRaised}}</p>
        <p>Начало: {{fundingRound.startDate | date: "dd.MM.yy"}}</p>
        <p>Окончание: {{fundingRound.endDate | date: "dd.MM.yy"}}</p>
    </div>
</div>
