<div class="header-section">
    <img class="logo" *ngIf="startup?.logoPath" [src]="'http://localhost:3000/uploads/logos/' + startup?.logoPath" alt="">
    <img class="logo" *ngIf="!startup?.logoPath" src="assets/no-image.jpg" alt="">
    <div class="startup-info">
        <div class="startup-info-title-section">
            <h1 class="title">{{startup?.title}}</h1>
            <app-goto-chat *ngIf="localStorageService.getUser() && localStorageService.getUser()?.payload!.role !== Roles.STARTUP" [userToChatWith]="startup"></app-goto-chat>
        </div>

        <app-tags-list [tags]="startup!.tags"></app-tags-list>
        <div>Общая цель: {{startup?.fundingGoal}} руб.
            <app-input-help-tooltip tooltipMessage="Долгосрочная цель"></app-input-help-tooltip>
        </div>
        <div class="funding-goal">Текущая цель: {{getTotalFundingGoalByRounds()}} руб.
            <app-input-help-tooltip tooltipMessage="Сумма целей всех раундов финансирования"></app-input-help-tooltip>
        </div>
        <div>Всего собрано: {{getCurrentFundingByRounds()}} руб.</div>
        <div class="progress-bar">
            <div class="progress" [ngStyle]="{'width': getOverallFundingProgress() + '%'}"></div>
        </div>
    </div>
</div>
<div class="stats-container">
    <div *ngIf="startup?.dcf && startup?.dcf != '0.0' && startup?.dcf != '0'" class="stat-card">
        <div class="stat-label">Оценка по методу DCF</div>
        <div class="stat-value">{{startup?.dcf | number:'1.2-2'}} млн руб.</div>
    </div>
    <div class="stat-card">
        <div class="stat-label">TAM</div>
        <div class="stat-value">{{startup?.tamMarket}} млн руб.</div>
    </div>
    <div class="stat-card">
        <div class="stat-label">SAM</div>
        <div class="stat-value">{{startup?.samMarket}} млн руб.</div>
    </div>
    <div class="stat-card">
        <div class="stat-label">SOM</div>
        <div class="stat-value">{{startup?.somMarket}} млн руб.</div>
    </div>
</div>

<h2 class="section-title">О стартапе</h2>
<div class="description">
    <p style="white-space: pre-line;">{{startup?.description}}</p>
</div>

<ng-container *ngIf="startup?.presentationPath">
    <h2 class="section-title">Презентация</h2>
    <div class="attachment-section">
        <div class="attachment">
            <mat-icon>insert_drive_file</mat-icon>
            <span>{{startup?.presentationPath}}</span>
            <a [href]="'http://localhost:3000/uploads/presentations/' + startup?.presentationPath" class="download-btn">
                <mat-icon>download</mat-icon>
                Скачать презентацию
            </a>
        </div>
    </div>
</ng-container>

<h4>Раунды инвестирования:</h4>
<app-funding-rounds-list *ngIf="startup" [fundingRounds]="startup.fundingRounds" (newInvestment)="openInvestmentDialog($event)"></app-funding-rounds-list>
