<form>
    <div class="mb-3">
        <label for="startupTitleSearch" class="form-label">Поиск стартапов</label>
        <input type="text" [formControl]="startupTitleSearch" class="form-control" id="startupTitleSearch"
               aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
    </div>
</form>
<app-clearable-select [options]="selectOptions" [selectInitialValue]="tag!"
                      (selectChanged)="handleTagChange($event)" label="Тег"></app-clearable-select>
<div class="startups-list">
    <div *ngFor="let startup of startups">
        <app-single-startup [startup]="startup"></app-single-startup>
    </div>
</div>
<mat-paginator class="startups-paginator" [length]="totalStartupsNumber"
               [pageIndex]="pageIndex"
               [pageSize]="pageSize"
               [pageSizeOptions]="[5, 8, 10, 25, 100]"
               (page)="handlePageChange($event)"
               aria-label="Select page">
</mat-paginator>
