<form>
  <div class="mb-3">
    <label for="startupTitleSearch" class="form-label">Поиск стартапов</label>
    <input type="text" [formControl]="startupTitleSearch" class="form-control" id="startupTitleSearch" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text"></div>
  </div>
</form>
<div class="mb-3">
  <label for="tag" class="form-label">Тег</label>
  <div class="tag-filter-group">
    <select [formControl]="startupTagSearch" class="form-select" id="tag">
      <option *ngFor="let tag of allTags" [value]="tag.title">{{tag.title}}</option>
    </select>
    <mat-icon (click)="clearTagSelection()" class="tag-delete-icon">close</mat-icon>
  </div>

</div>
<div class="startups-list" >
  <div *ngFor="let startup of startups">
    <app-single-startup [startup]="startup"></app-single-startup>
  </div>
</div>
<mat-paginator class="startups-paginator" [length]="totalStartupsNumber"
               [pageIndex]="pageIndex"
               [pageSize]="pageSize"
               [pageSizeOptions]="[5, 8, 10, 25, 100]"
               (page)="handlePageChange($event)"
               aria-label="Select page">
</mat-paginator>
