<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid navigation-container">
        <div>
            <a class="navbar-brand" href="#">FundLink</a>
        </div>
      <div class="collapse navbar-collapse nav-menu-section" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="['investors']">Инвесторы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['startups']">Стартапы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-disabled="true">Профиль</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>