<h3>{{investor?.name}} {{investor?.surname}}</h3>
<p>Email: {{investor?.email}}</p>
<div>
  <h4>Совершенные инвестиции</h4>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Дата</th>
      <th scope="col">Размер</th>
      <th scope="col">Стартап</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let investment of investments">
      <td>{{investment.date | date: "dd.MM.yy"}}</td>
      <td>
        {{investment.amount}}
      </td>
      <td>
        <a [routerLink]="['/startups', investment.startup_id]">{{investment.startup_title}}</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
