<div class="investors-list">
    <div *ngFor="let investor of investors" class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">
                <a class="investor-link"
                                      [routerLink]="['/investors', investor.id]">{{investor.name}} {{investor.surname}}</a>
            </h5>
            <p>{{investor.email}}</p>
        </div>
    </div>
</div>
<mat-paginator class="investors-paginator" [length]="totalNumber"
               [pageIndex]="pageIndex"
               [pageSize]="pageSize"
               [pageSizeOptions]="[5, 8, 10, 25, 100]"
               (page)="handlePageChange($event)"
               aria-label="Select page">
</mat-paginator>
