.tags-container {
    display: flex;
    gap: 20px;
}
.tags-container a {
    text-decoration: none;
}
.tag-menu-item {
    cursor: pointer;
}

.tag-delete-icon-circle {
    width: 20px;
    height: 20px;
    padding: 0 !important;
    cursor: pointer;
}

.tag-delete-icon {
    font-size: 10px;
    height: unset;
    width: unset;
    top: 5px;
    right: 4px;
    position: absolute;
}
