<div *ngIf="role == Roles.INVESTOR">
    <h3 class="section-title">Рекомендации</h3>
    <app-recommended-startups></app-recommended-startups>
</div>
<div>
    <h3 class="section-title">Самые популярные</h3>
    <app-most-popular-startups></app-most-popular-startups>
</div>
<div>
    <h3 class="section-title">С наибольшим объемом инвестиций</h3>
    <app-most-funded-startups></app-most-funded-startups>
</div>
<div *ngIf="role == Roles.STARTUP || role == undefined">
    <app-all-startups></app-all-startups>
</div>
