<div class="chat-list">
    <a [routerLink]="['/chats', chat.id]"  *ngFor="let chat of chats" class="chat-item single-chat">
        <div *ngIf="localStorageService.getUser()?.payload!.role === Roles.INVESTOR" class="chat-avatar">
            <img *ngIf="chat.startup.logoPath" [src]="'http://localhost:3000/uploads/logos/' + chat.startup.logoPath" alt="User Avatar">
            <img *ngIf="!chat.startup.logoPath" src="assets/no-image.jpg" alt="User Avatar">
        </div>
        <div class="chat-info">
            <div class="chat-name">{{getMemberName(chat)}}</div>
            <div class="chat-preview">{{getLastMessage(chat).text}}</div>
        </div>
    </a>
</div>
