/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f5f5f5 !important; }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
.form-container {
  max-width: 600px;
  margin: 0 auto;
}
@import 'ngx-toastr/toastr';
.button-group a, .button-group button {
  display: flex;
  align-items: center;
}
.flex-horizontal-container {
  display: flex;
  justify-content: space-between;
}
.clickable {
  cursor: pointer;
}
.full-width-el {
  width: 100%;
}
.notifications-menu-item .mat-mdc-menu-item-text {
    display: flex;
}
