<form class="exit-form auth-container" [formGroup]="exitFormGroup">
<!--    <app-clearable-select [options]="selectOptions" [selectInitialValue]="''"-->
<!--                          (selectChanged)="onTypeChanged($event)" label="Тип экзита"></app-clearable-select>-->
    <div class="mb-3">
        <label for="tag" class="form-label">Тип экзита</label>
        <div class="select-group">
            <select formControlName="type" class="form-select" id="tag">
                <option *ngFor="let type of Object.keys(ExitType)">{{type}}</option>
            </select>
        </div>
    </div>
    <div *ngIf="exitType !== ExitType.BANKRUPT" class="mb-3">
        <label for="exitValue" class="form-label">Цена</label>
        <input formControlName="value" appNumericOnly class="form-control" id="exitValue">
    </div>
    <ng-container *ngIf="exitType === ExitType.IPO">
        <div  class="mb-3">
            <label for="exitValue" class="form-label">Количество акций</label>
            <input formControlName="totalShares" appNumericOnly class="form-control" id="shareNumber">
        </div>
    </ng-container>
    <div class="exit-startup-button-form-group">
        <button type="submit" (click)="exitStartup()" class="btn btn-primary mb-3 action-btn">Совершить экзит</button>
    </div>
</form>
